.body {
  max-width: 1200px;
  margin: 0 auto;
} 

form {
  display: flex;
  flex-direction: column;
  .btn-submit {
    align-self: flex-end;
  }
}

.content {
	display: flex;

	.user-city {
		flex: 1;
	}

	aside {
	    display: flex;
	    justify-content: flex-end;		
	}
}